@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$canes-red: #C81025;
$canes-grey: #888888;

$square-size: 115px;
$gap: 6px;
$card-size: calc(($square-size * 5) + ($gap * 4));

$mobile-scale: .7;
$mobile-square-size: $square-size * $mobile-scale;
$mobile-gap: 4px;
$mobile-card-size: calc(($mobile-square-size * 5) + ($mobile-gap * 4));

$breakpoint: 720px;

* {
  margin: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

.app {
  text-align: center;

  header {
    background-color: #C81025;
    color: white;

    @media only screen and (max-width: $breakpoint) {
      padding: 0 10px;
      font-size: 12px;
    }
  }

  main {
    padding-bottom: 50px;
    padding-top: 5px;

    @media only screen and (max-width: $breakpoint) {
      padding-top: 0;
    }
  }

  footer {
    background-color: black;
    color: $canes-grey;

    section {
      display: inline-block;

      > div {
        display: inline-block;
        font-size: 12px;

        &::after {
          content: '\2022';
          padding: 0 10px;
        }
      }

      &:last-of-type > div:last-of-type::after {
        content: '';
        padding: 0
      }

      @media only screen and (max-width: $breakpoint) {
        display: block;
        padding-bottom: 10px;

        > div::after {
          padding: 5px;
        }

        &:first-of-type > div:last-of-type::after {
          content: '';
          padding: 0;
        }
      }
    }

    .version {
      &::before {
        content: 'v. ';
      }

      .ant-skeleton-input {
        $skeleton-height: 10px;
        $skeleton-width: 50px;

        height: $skeleton-height;
        line-height: $skeleton-height;
        vertical-align: middle;
        width: $skeleton-width;
        min-width: $skeleton-width;
      }
    }

    a {
      color: $canes-grey;

      &:not(.license) {
        border-bottom: 1px dotted $canes-grey;
      }

      &:hover {
        border-bottom: 0;
      }
    }
  }

  .options {
    height: $square-size * .75;

    label {
      font-weight: bold;

      &::after {
        content: ':';
      }
    }

    .ant-select {
      text-align: left;
    }

    @media only screen and (max-width: $breakpoint) {
      display: block;
      height: auto;
      padding: 10px;

      > div:first-of-type {
        display: block;
        padding-bottom: 15px;
      }

      > div:not(:first-of-type) {
        display: inline-block;

        &:not(:last-of-type) {
          padding-right: 15px;
        }

        > div {
          display: block;
        }
      }
    }
  }
}

.bingo {
  position: relative;
  margin: 0 auto;
  width: $card-size;

  @media only screen and (max-width: $breakpoint) {
    width: $mobile-card-size;
  }

  .row {
    display: flex;
    gap: $gap;
    margin: $gap 0;

    @media only screen and (max-width: $breakpoint) {
      gap: $mobile-gap;
      margin: $mobile-gap 0;
    }

    #square-2-2 {
      font-weight: bold;
      font-size: 16px;
    }

    .square {
      background-color: white;
      border: 1px black solid;
      width: $square-size;
      height: $square-size;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;

      @media only screen and (max-width: $breakpoint) {
        width: $mobile-square-size;
        height: $mobile-square-size;
        padding: 3px;
      }

      &.selected {
        background-color: $canes-red;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.card-image {
  width: $card-size + 20px;
  background-color: black;
  text-align: center;

  .bingo {
    @extend .bingo;
  }

  @media only screen and (max-width: $breakpoint) {
    width: $mobile-card-size + 10px;
  }

  h3 {
    color: white;
    padding: 10px 0 5px;
  }

  .bingo {
    font-size: 14px;
  }

  small {
    display: block;
    color: #888;
    padding: 5px 0 10px;
  }
}
