@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$canes-red: #C81025;
$canes-grey: #888888;
$square-size: 100px;
$gap: 6px;

* {
  margin: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;

  .card-image {
    width: 550px;
    background-color: black;
    text-align: center;

    h3 {
      color: white;
      padding: 10px 0 5px;
    }

    .bingo {
      font-size: 14px;
    }

    small {
      display: block;
      color: #888;
      padding: 5px 0 10px;
    }
  }
}

.app {
  text-align: center;

  header {
    background-color: #C81025;
    color: white;
  }

  main {
    padding-bottom: 50px;
    padding-top: 5px;
  }

  footer {
    background-color: black;
    color: $canes-grey;

    .version {
      &::before {
        content: 'v. ';
      }

      .ant-skeleton-input {
        $skeleton-height: 10px;
        $skeleton-width: 50px;

        height: $skeleton-height;
        line-height: $skeleton-height;
        vertical-align: middle;
        width: $skeleton-width;
        min-width: $skeleton-width;
      }
    }

    .divider {
      padding: 0 10px;
    }

    a {
      color: $canes-grey;

      &:not(.license) {
        border-bottom: 1px dotted $canes-grey;
      }

      &:hover {
        border-bottom: 0;
      }
    }
  }

  .options {
    height: $square-size * .75;

    label {
      font-weight: bold;

      &::after {
        content: ':';
      }
    }

    .ant-select {
      text-align: left;
    }
  }
}

.bingo {
  position: relative;
  margin: 0 auto;
  width: calc(($square-size * 5) + ($gap * 4));

  .row {
    display: flex;
    gap: $gap;
    margin: $gap 0;

    .square {
      background-color: white;
      border: 1px black solid;
      width: $square-size;
      height: $square-size;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;

      &.selected {
        background-color: $canes-red;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
