@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$square-size: 115px;
$gap: 6px;
$card-size: calc(($square-size * 5) + ($gap * 4));

$mobile-scale: .63;
$mobile-square-size: $square-size * $mobile-scale;
$mobile-gap: 4px;
$mobile-card-size: $mobile-square-size * 5;

$breakpoint: 720px;

* {
  margin: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;

  .ant-drawer {
    .ant-drawer-title, .ant-checkbox-wrapper {
      color: var(--ant-color-text-base);
    }
  }

  .no-caps * {
    text-transform: lowercase !important;
  }

  .playoffs {
    .bingo .row #square-2-2 {
      position: relative;

      &::after {
        content: '';
        background-image: url('img/stanley_cup.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100px;
        height: 100px;
        position: absolute;
        opacity: 0.25;
      }
    }
  }
}

.app {
  text-align: center;

  header {

    h1 {
      font-size: 34px;
      font-weight: normal;
      font-family: 'Racing Sans One', 'Inter', Arial, sans-serif;
    }

    @media only screen and (max-width: $breakpoint) {
      padding: 0 10px;

      h1 {
        font-size: 24px;
      }
    }
  }

  main {
    padding-bottom: 30px;
    padding-top: 5px;

    .toolbar {
      width: $card-size;
      margin: 0 auto;
      padding: 8px 0 10px;

      @media only screen and (max-width: $breakpoint) {
        width: $mobile-card-size;
      }
    }

    .board-wrapper {
      min-height: $card-size;

      > div {
        min-height: $card-size;
      }

      @media only screen and (max-width: $breakpoint) {
        min-height: $mobile-card-size;

        > div {
          min-height: $mobile-card-size;
        }
      }
    }

    .bottom-message {
      padding-top: 15px;
      color: var(--ant-color-text-base);

      p {
        margin: 10px 0;
      }

      a {
        color: var(--ant-color-primary);
        font-weight: bold;
        border-bottom: 1px dotted var(--ant-color-link);

        &:hover {
          color: var(--ant-color-text-base);
          border-bottom: none;
        }
      }
    }
  }

  footer {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;

    .coffee .anticon {
      font-size: 16px;
    }

    .disclaimer {
      font-size: 12px;
      opacity: .6;
      font-style: italic;
      line-height: 16px;
      padding-top: 10px;
    }

    a {
      &:not(.license) {
        border-bottom: 1px dotted var(--ant-color-link);
      }

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  .options {
    .select-option-icon.anticon {
      position: relative;
      font-size: 12px;
      padding-left: 3px;
      top: -1px;
    }

    .ant-select-outlined.ant-select-multiple {
      .ant-select-selection-item {
        background: none;
        padding-inline-start: 3px;
      }

      .ant-select-selection-overflow-item {
        &:first-of-type > span {
          padding-left: 5px;
        }

        &:not(:last-of-type) > span {
          padding-right: 3px;
        }
      }
    }
  }

  &.squares-db {
    input.ant-input {
      color: black;
    }

    table {
      border: 1px solid var(--ant-color-border);

      .ant-table-tbody {
        tr:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }
}

.bingo {
  position: relative;
  margin: 0 auto;
  width: $card-size;

  @media only screen and (max-width: $breakpoint) {
    width: $mobile-card-size;
  }

  .row {
    display: flex;
    gap: $gap;
    margin: $gap 0;

    @media only screen and (max-width: $breakpoint) {
      gap: 0;
      margin: 0;
    }

    #square-2-2 {
      font-weight: bold;
      font-size: 16px;
    }

    .square {
      color: var(--ant-color-text-base);
      background-color: var(--ant-color-bg-base);
      border: 1px solid var(--ant-color-border);
      border-radius: var(--ant-border-radius);
      width: $square-size;
      height: $square-size;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      overflow: hidden;
      overflow-wrap: anywhere;

      @media only screen and (max-width: $breakpoint) {
        width: $mobile-square-size;
        height: $mobile-square-size;
        border-radius: 0;
        padding: 2px;

        &#square-0-0 { border-top-left-radius: var(--ant-border-radius); }
        &#square-0-4 { border-top-right-radius: var(--ant-border-radius); }
        &#square-4-0 { border-bottom-left-radius: var(--ant-border-radius); }
        &#square-4-4 { border-bottom-right-radius: var(--ant-border-radius); }
      }

      &.selected {
        background-color: var(--ant-color-primary);
      }

      &:hover {
        cursor: pointer;
        border-color: var(--ant-color-primary-hover);
      }
    }
  }
}

.card-image {
  width: $card-size + 20px;
  background-color: var(--ant-color-text-base);
  text-align: center;

  .bingo {
    @extend .bingo;
    font-size: 14px;

    .square {
      border: 1px solid var(--ant-color-text-base);
    }
  }

  @media only screen and (max-width: $breakpoint) {
    width: $mobile-card-size + 10px;
  }

  h3 {
    color: var(--ant-color-bg-base);
    padding: 10px 0 5px;
  }

  small {
    display: block;
    color: #888;
    padding: 5px 0 10px;
  }
}
