@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$square-size: 115px;
$gap: 6px;
$card-size: calc(($square-size * 5) + ($gap * 4));

$mobile-scale: .63;
$mobile-square-size: $square-size * $mobile-scale;
$mobile-gap: 4px;
$mobile-card-size: $mobile-square-size * 5;

$breakpoint: 720px;

$globe-width: 12px;
$globe-height: 18px;
$globe-spacing: 40px;
$globe-spread: 2px;

$light-color-1: rgb(50, 239, 12);
$light-color-2: rgb(255, 221, 0);
$light-color-3: rgb(213, 87, 255);

$light-off-opacity: 0.4;

* {
  margin: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

.no-caps * {
  text-transform: lowercase !important;
}

body {
  font-family: 'Inter', Arial, sans-serif;

  .ant-drawer {
    .ant-drawer-title, .ant-checkbox-wrapper {
      color: var(--ant-color-text-base);
    }
  }

  .dark {
    .app main .bottom-message {
      color: #A4A9AD;

      a:hover {
        color: #333F48;
      }
    }

    .squares-db main {
      h2 {
        color: #A2AAAD;
      }

      .back-link {
        color: #CE1126;

        &:hover {
          color: #333F48;
        }
      }
    }
  }

  .playoffs {
    .bingo .row #square-2-2 {
      position: relative;
      font-size: 14px;

      @media only screen and (max-width: $breakpoint) {
        font-size: 12px;

        &::after {
          width: 75px;
          height: 75px;
        }
      }

      &::after {
        content: '';
        background-image: url('/img/stanley_cup.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100px;
        height: 100px;
        position: absolute;
        opacity: 0.25;
      }
    }

    @media only screen and (max-width: $breakpoint) {
      .bingo .row #square-2-2 {
        font-size: 12px;

        &::after {
          width: 60px;
          height: 60px;
        }
      }
    }

    main {
      padding-top: 0;

      .playoff-wins {
        $flag-size: 24px;
        $mobile-flag-size: 16px;

        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        justify-content: center;
        background-color: black;
        padding: 15px 0;
        margin-bottom: 10px;

        .win, .tbd {
          position: relative;
          color: transparent;
          width: $flag-size;
          height: $flag-size;
          border: 1px solid rgba(255, 255, 255, .15);
        }

        .win {
          background-color: var(--ant-color-primary);

          &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: black;
            position: absolute;
            top: 6px;
            left: 6px;
          }
        }

        .tbd {
          background-color: rgba(255, 255, 255, .15);
        }

        @media only screen and (max-width: $breakpoint) {
          gap: 6px;

          .win, .tbd {
            width: $mobile-flag-size;
            height: $mobile-flag-size;
          }

          .win::after {
            width: 8px;
            height: 8px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }
  }

  .square-tooltip {
    max-width: calc($square-size * 3);
  }
}

.app {
  text-align: center;

  header {

    h1 {
      font-size: 34px;
      font-weight: normal;
      font-family: 'Racing Sans One', 'Inter', Arial, sans-serif;
    }

    @media only screen and (max-width: $breakpoint) {
      padding: 0 10px;

      h1 {
        font-size: 24px;
      }
    }
  }

  main {
    padding-bottom: 30px;
    padding-top: 5px;

    .toolbar {
      width: $card-size;
      margin: 0 auto;
      padding: 8px 0 10px;

      @media only screen and (max-width: $breakpoint) {
        width: $mobile-card-size;
      }
    }

    .board-wrapper {
      min-height: $card-size;

      > div {
        min-height: $card-size;
      }

      @media only screen and (max-width: $breakpoint) {
        min-height: $mobile-card-size;

        > div {
          min-height: $mobile-card-size;
        }
      }
    }

    .bottom-message {
      padding-top: 15px;
      color: var(--ant-color-text-base);

      p {
        margin: 10px 0;
      }

      a {
        color: var(--ant-color-primary);
        font-weight: bold;
        border-bottom: 1px dotted var(--ant-color-link);

        &:hover {
          color: var(--ant-color-text-base);
          border-bottom: none;
        }
      }
    }
  }

  footer {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;

    .coffee .anticon {
      font-size: 16px;
    }

    .disclaimer {
      font-size: 12px;
      opacity: .6;
      font-style: italic;
      line-height: 16px;
      padding-top: 10px;
    }

    a {
      &:not(.license) {
        border-bottom: 1px dotted var(--ant-color-link);
      }

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  .options {
    .select-option-icon.anticon {
      position: relative;
      font-size: 12px;
      padding-left: 3px;
      top: -1px;
    }

    .ant-select-outlined.ant-select-multiple {
      .ant-select-selection-item {
        background: none;
        padding-inline-start: 3px;
      }

      .ant-select-selection-overflow-item {
        &:first-of-type > span {
          padding-left: 5px;
        }

        &:not(:last-of-type) > span {
          padding-right: 3px;
        }
      }
    }
  }

  &.squares-db {
    input.ant-input {
      color: black;
    }

    h2 {
      color: var(--ant-color-text-base);
    }

    table {
      border: 1px solid var(--ant-color-border);

      .ant-table-tbody {
        tr:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }

  .bingo {
    position: relative;
    margin: 0 auto;
    width: $card-size;

    @media only screen and (max-width: $breakpoint) {
      width: $mobile-card-size;
    }

    .row {
      display: flex;
      gap: $gap;
      margin: $gap 0;

      @media only screen and (max-width: $breakpoint) {
        gap: 0;
        margin: 0;
      }

      #square-2-2 {
        font-weight: bold;
        font-size: 16px;

        @media only screen and (max-width: $breakpoint) {
          font-size: 13px;
        }
      }

      .square {
        color: var(--ant-color-text-base);
        background-color: var(--ant-color-bg-base);
        border: 1px solid var(--ant-color-border);
        border-radius: var(--ant-border-radius);
        width: $square-size;
        height: $square-size;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        overflow: hidden;
        overflow-wrap: anywhere;
        line-height: 20px;

        @media only screen and (max-width: $breakpoint) {
          width: $mobile-square-size;
          height: $mobile-square-size;
          border-radius: 0;
          padding: 2px;
          line-height: 17px;
          font-size: 13px;

          &#square-0-0 { border-top-left-radius: var(--ant-border-radius); }
          &#square-0-4 { border-top-right-radius: var(--ant-border-radius); }
          &#square-4-0 { border-bottom-left-radius: var(--ant-border-radius); }
          &#square-4-4 { border-bottom-right-radius: var(--ant-border-radius); }
        }

        &.selected {
          background-color: var(--ant-color-primary);
        }

        &.free-space,
        &.free-space > div {
          white-space: pre-line;
        }

        &:hover {
          cursor: pointer;
          border-color: var(--ant-color-primary-hover);
        }
      }
    }
  }

  .card-image {
    width: $card-size + 20px;
    background-color: var(--ant-color-text-base);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    .bingo {
      @extend .bingo;
      font-size: 14px;

      .square {
        border: 1px solid var(--ant-color-text-base);
      }
    }

    @media only screen and (max-width: $breakpoint) {
      width: $mobile-card-size + 10px;
    }

    h3 {
      color: var(--ant-color-bg-base);
      padding: 10px 0 5px;
    }

    small {
      display: block;
      color: #888;
      padding: 5px 0 10px;
    }
  }

  .app-lights {
    background-color: var(--ant-layout-header-bg);
    height: $globe-height;
    margin-bottom: calc(-1 * ($globe-height/2));

    ul.lights {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      margin: -15px 0 0 0;
      padding: 0;
      pointer-events: none;
      width: 100%;

      li.light {
        position: relative;
        animation-fill-mode: both;
        animation-iteration-count:infinite;
        list-style: none;
        padding: 0;
        width: $globe-width;
        height: $globe-height;
        border-radius: 50%;
        margin: calc($globe-spacing/2);
        display: inline-block;
        background: $light-color-1;
        box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread $light-color-1;
        animation-name: flash-1;
        animation-duration: 2s;

        &:nth-child(2n+1) {
          background: $light-color-2;
          box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread color.change($light-color-2, $alpha: 0.5);
          animation-name: flash-2;
          animation-duration: 0.4s;
        }

        &:nth-child(4n+2) {
          background: $light-color-3;
          box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread $light-color-3;
          animation-name: flash-3;
          animation-duration: 1.1s;
        }

        &:nth-child(odd) {
          animation-duration: 1.8s;
        }

        &:nth-child(3n+1) {
          animation-duration: 1.4s;
        }

        &:before {
          content: "";
          position: absolute;
          background: #222;
          width: calc($globe-width - 2px);
          height: calc($globe-height/3);
          border-radius: 3px;
          top: calc(0px - ($globe-height/6));
          left: 1px;
        }

        &:after {
          content: "";
          top: calc(0px - $globe-height/2);
          left: calc($globe-width - 3px);
          position: absolute;
          width: calc($globe-spacing + 12px);
          height: calc($globe-height/3 * 2);
          border-bottom: solid #222 2px;
          border-radius: 50%;
        }

        &:last-child:after {
          content: none;
        }

        &:first-child {
          margin-left: -$globe-spacing;
        }
      }
    }
  }
}

@keyframes flash-1 {
    0%, 100% { background: $light-color-1;
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread $light-color-1;}
    50% { background: color.change($light-color-1, $alpha: $light-off-opacity);
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread color.change($light-color-1, $alpha: 0.2);}
}

@keyframes flash-2 {
    0%, 100% { background: $light-color-2;
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread $light-color-2;}
    50% { background: color.change($light-color-2, $alpha: $light-off-opacity);
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread color.change($light-color-2, $alpha: 0.2);}
}

@keyframes flash-3 {
    0%, 100% { background: $light-color-3;
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread $light-color-3;}
    50% { background: color.change($light-color-3, $alpha: $light-off-opacity);
    box-shadow: 0 calc($globe-height/6) calc($globe-width*2) $globe-spread color.change($light-color-3, $alpha: 0.2);}
}